<div class="container text-center mt-5">
  <h1>Welcome to MyApp!</h1>
  <p>シンプルなSNSアプリで投稿や交流を楽しもう！</p>
  
  <% if user_signed_in? %>
    <p>こんにちは、<%= current_user.email %> さん！</p>
    <%= link_to "投稿一覧を見る", posts_path, class: "btn btn-primary" %>
    <%= link_to "新しい投稿を作成する", new_post_path, class: "btn btn-success" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "サインアップ", new_user_registration_path, class: "btn btn-success" %>
  <% end %>
</div>
